@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --site-color: #3a7afe;
    --main-color: #ebeef6;
    --active-color: #d4def7;
    --bg-color: #ecedf0;
    --second-color: #f1f1f1;
    --third-color: #9fa7bd;
    --fourth-color: #fff;
    --main-bg-color: #004f88;
    --second-bg-color: #1e2746;
    --third-bg-color: #3a7afe;
    --fourth-bg-color: #004f88;
    --primary-color: #0088cc;
    --success-color: #47a447;
    --info-color: #5bc0de;
    --warning-color: #ed9c28;
    --danger-color: #d2322d;
    --danger-hover-color: #f00e06;
}

body {
    background-color: var(--main-color);
}

.conteinerForm{
padding-top: 60px ;
width: 100%;
   /* border: 1px solid black;*/
}

.formField{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-field{
    flex-basis: 48%; /* Defina o tamanho inicial de cada item */
    margin: 10px; /* Adicione alguma margem entre os itens (ajuste conforme necessário) */
    box-sizing: border-box; /* Certifique-se de que a largura inclui a borda e o preenchimento */
    
}

.input, select{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    outline: none;
    background: var(--active-color);
    font-family: 'Ubuntu';
    font-size: 14px;
}

.input-field input,
.input-field select {
    padding-left: 20px;
}

.buttons{
    width: 100%;   
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 20px;

}
.buttons button{
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: var(--active-color);
}


#editar{
    background-color: var(--primary-color);
    margin-right: 100px;
}

#editar:hover{
    background-color: var(--fourth-bg-color);
}

#deletar{
    background-color: var(--danger-color);
}

#deletar:hover{
    background-color: var(--danger-hover-color);
}

#cadastrar{
    background-color: var(--primary-color);
}


ul.nav-tabs {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li.nav-item {
    display: inline-block;
}

li.nav-item button {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

li.nav-item button.active {
    background-color: #ddd;
}

.tab-content {
    clear: both;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}